# Ignora node_modules
node_modules/

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Salidas de build (por si usas)
dist/
build/
.expo/
.expo-shared/

# Configuración de entorno local
.env
.env.local
